body{
    padding: 0; 
    margin: 0; 
    background-color: black; 
    color: white; 
}
.container{
    height: 99vh; 
    width: 99vw;  
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: monospace;
    font-size: 1.52em; 
    text-align: center;
}
h1{
  font-weight: 200;
}
.container span{
    color: red; 
}
.container span::after{
    content: '|';
    animation-name: blinking; 
    animation-duration: .71s; 
    animation-iteration-count: infinite;
}
@keyframes blinking{
    from{
        color: transparent; 
    }
    to{
        color: lightgrey; 
    }
}
